# Folders
.idea/
.vscode/
Class_Codes/venv/
Class_Codes/.idea/
Class_Notes/
Class_Videos/
venv/

# Files
Class_Codes/Unit3/ex03.py
Class_Codes/Unit6/ex06.py
Class_Codes/Unit7/code.py
Class_Syllabus/SkillShare_BeginningPython_v01.doc
Skillshare_Teacher_Handbook.pdf